@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 221 100% 95%;
    --foreground: 221 5% 0%;
    --card: 221 50% 90%;
    --card-foreground: 221 5% 10%;
    --popover: 221 100% 95%;
    --popover-foreground: 221 100% 0%;
    --primary: 221 90% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 214 32% 91%;
    --muted-foreground: 215 20% 65%;
    --accent: 183 30% 80%;
    --accent-foreground: 221 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221 5% 90%;
    --border: 221 30% 50%;
    --input: 221 30% 18%;
    --ring: 221 90% 59%;
    --radius: 0.5rem;
}

.dark {
    --background: 221 50% 5%;
    --foreground: 221 5% 90%;
    --card: 221 50% 0%;
    --card-foreground: 221 5% 90%;
    --popover: 221 50% 5%;
    --popover-foreground: 221 5% 90%;
    --primary: 221 90% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 222 4% 94%;
    --muted-foreground: 0 0% 60%;
    --accent: 183 30% 15%;
    --accent-foreground: 221 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221 5% 90%;
    --border: 221 30% 18%;
    --input: 221 30% 18%;
    --ring: 221 90% 59%;
    --radius: 0.5rem;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .input {
        @apply h-8 px-3 py-1 text-sm;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* body {
    font-family: 
} */

/* Improve focus styles for better accessibility */
input:focus,

textarea:focus,
select:focus,
a:focus,
button:focus {
    @apply outline-none ring-0;
}

/* For Customized Calendar */
.rdp-vhidden {
    @apply hidden;
}

.card {
    /* height: 254px; */
    position: relative;
    display: flex;
    justify-items: space-between;
    transition: 0.5s ease-in-out;
    overflow: visible;
    width: 100%;
}

.card-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    color: black;
    height: 100%;
    gap: .5em;
    place-content: center;
    padding: 0.5rem;
}

.card-button {
    transform: translate(-50%, 175%);
    width: 20%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: .75rem;
    padding: .25rem .5rem;
    position: absolute;
    left: 50%;
    bottom: 50%;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

/*Hover*/
.card:hover {
    
    /* background-color: rgba(0, 0, 0, .02); */
    
    /* transition: 0.5s ease-out; */
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

input:is(:-webkit-autofill, :autofill) {
    /* border: 3px solid darkorange; */
    background-color: #fff;
}